* {
    margin: 0;
}

html, body {
    --black: hsla(240, 6%, 13%, 1);
    --gray: hsla(240, 9%, 89%, 1);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url('../Images/background.svg') no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vw;
}

.container {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;

    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--gray);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 4rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}